/*********************************************
Cascading Style Sheets (CSS) Style Definitions
Composed by Patrick Gatewood on April 8, 2017.
*********************************************/

/* Style for the meeting card */
/*.meetingWrapper {
    background-color: #c8e6c9;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}*/

/* Horizontally-scrollable area */
div .horizontalScrollArea {
    border: none;
    height: auto;
    white-space: nowrap;
    background-color: #c8e6c9;
}


/* Style to build Calendar icon */
.calendarLink {
    text-decoration: none;
    display:inline-block;
    margin: 10px;
}

time.icon
{
    font-size: 1em; /* icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

time.icon *
{
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong
{
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #fd9f1b;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
    position: absolute;
    bottom: 0.3em;
    color: #fd9f1b;
}

time.icon span
{
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}

/* "Can't go" button */
.declineLink {
    border-left: thick solid black;
    color: black;
    float: right;
    overflow: auto;
    text-decoration: none;
}

.declineLink i, .uploadedFile i {
    font-size: 7em; /* icon size */
    /*float: right;*/ 
    display: inline-block;
    width: 1em; /* Match width and height of time.icon */
    height: 1em; 
}

.declineText {
    display: block;
}

/*
====================================================
Styles for On/Off switch modified from: 
https://www.w3schools.com/howto/howto_css_switch.asp
====================================================
*/

/* Disable text underlining for the switch */
.fakeSwitch:hover {
    text-decoration: none;
}

/* The switch - the box around the slider */
/*.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}*/

/* Hide default HTML checkbox */
/*.switch input {display:none;}*/

/* The slider */
/*.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C0757E;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #8FBC8F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

 Rounded sliders 
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}*/

/*
----------------------------
End styles for On/Off switch
----------------------------
*/

.availableTimesTable {
    /*border-radius: 20px;*/
    /*float: left;*/
    /*width: 100%;*/
    /*margin-left: -41px;*/ 
}

/* Styled column containing the On/Off switches */
.columnOne * {
    /*border: none;*/
    vertical-align: inherit;
    /*width: 60px;*/
}
.onOffLabel {
    font-size: 1em;
}

.columnTwo {
    width: 60px;
}

/* Hide the borders of both columns */
.columnOne, .columnTwo {
    height: 2.5em; 
    border-style: hidden !important;
}

.meetingWrapper .noBorderPanel {
    border-style: hidden !important;
    background-color: #c8e6c9;
}

/* Match table style with parent style */
.noBorderPanel .availableTimesTable .ui-panelgrid-cell {
    background-color: #c8e6c9;   
    /*width: 100%;*/
}

.noBorderPanel {
    width: 100%;
}

.ui-panel .newDatePanel {
    display: inline-block;
    background-color: #c8e6c9; 

    /* Match panel margins with .calendarLink margins */
    margin-left: -17px;
    margin-right: -17px;
}

/* Override ugly default PrimeFaces panel header color */
div .ui-panel {
    background-color: #c8e6c9;
}

/* Hide disabled buttons */
.ui-button[disabled] {
    visibility: hidden;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Remove tiny underline inherited from a:hover */
.commandLinkImage:hover {
    text-decoration: none;
}

/* Styles for modal dialog */ 
.ui-dialog {
    width: auto !important;
    height: auto !important;
}

.fileDlg {
    background-image: none !important;
}

.fileDlg .ui-dialog-titlebar {
    background: #83be8b !important;
}

.ui-dialog {
    background-image: none;
    background-color: #DAECDC;
}

/* End styles for modal dialog */

/* Prevent captions from overflowing their parent containers */
.caption {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Override file upload styles */
.styledFileUpload .ui-widget-header {
    background:  #4f4f4f !important;
    border: none;
}
.styledFileUpload .ui-fileupload-content {
    background: #a3acbb !important;  
    border-left: 5px dashed #4f4f4f;
    border-bottom: 5px dashed #4f4f4f;
    border-right: 5px dashed #4f4f4f;
    border-top: none;
}

/* User profile photos for participants */
.profilePhoto {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Google Map and map overlay styles */
.mapOverlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
   z-index: 10;
}

.noPointerEvents {
    pointer-events: none;
}

.map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

tbody {
    background-color: #c8e6c9;
}

/* End Google Map and map overlay styles */
