/*********************************************
Cascading Style Sheets (CSS) Style Definitions
Composed by Patrick Gatewood on April 8, 2017.
*********************************************/

/* Horizontally-scrollable area */
#horizontalScrollArea {
    border: none;
    height: auto;
    white-space: nowrap;
}

/* Style to build Calendar icon */
.calendarLink {
    text-decoration: none;
    display:inline-block;
    margin: 10px;
}

time.icon
{
  font-size: 1em; /* icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

/* "Can't go" button */
.declineLink {
    border-left: thick solid black;
    color: black;
    float: right;
    overflow: auto;
    text-decoration: none;
}

#declineIcon {
    font-size: 7em; /* icon size */
    /*float: right;*/ 
    display: inline-block;
    width: 1em; /* Match width and height of time.icon */
    height: 1em; 
}

.declineText {
    display: block;
}

